@page "/"

<PageTitle>Home</PageTitle>


Seja bem-vindo ao Sistema de Gerenciamento de clube.

<div>
    <h2>O que é o Sistema de Gerenciamento de clube?</h2>
    <p>
        O Sistema de Gerenciamento de clube é uma aplicação web desenvolvida para facilitar a administração e organização de clubes, associações ou grupos. Ele oferece uma plataforma centralizada para gerenciar membros, eventos, finanças e outras atividades relacionadas ao clube.
    </p>
    <h2>Recursos Principais</h2>
    <ul>
        <li><strong>Gerenciamento de Membros:</strong> Adicione, edite e remova membros do clube, além de acompanhar suas informações de contato e status.</li>
        <li><strong>Organização de Eventos:</strong> Crie e gerencie eventos, incluindo detalhes como data, local e participantes.</li>
        <li><strong>Controle Financeiro:</strong> Registre receitas e despesas do clube para manter um controle financeiro eficiente.</li>
        <li><strong>Comunicação:</strong> Envie notificações e mensagens para os membros do clube diretamente pela plataforma.</li>
    </ul>
    <h2>Benefícios</h2>
    <p>
        O uso do Sistema de Gerenciamento de clube traz diversos benefícios, como:
    </p>
    <ul>
        <li><strong>Eficiência:</strong> Automatiza tarefas administrativas, economizando tempo e esforço dos organizadores.</li>
        <li><strong>Organização:</strong> Centraliza todas as informações do clube em um único lugar, facilitando o acesso e a gestão.</li>
        <li><strong>Engajamento:</strong> Melhora a comunicação entre os membros, promovendo maior participação nas atividades do clube.</li>
    </ul>
</div>
